*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    background-color:   #ffffff;
}

nav{
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: clamp(30px, 10vh, 60px); /* minimum, viewport,max*/
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    
}
nav h1 {
    background: linear-gradient(to right, #03c506, #6a68e5, #ffffff);
    background-clip: text;
    color: transparent;
}

nav h2{
    padding: 5px 12px; /*top/bottom right/left*/
    border-radius: 5px;
    position: fixed;
    right: 0;
    margin-right: 3%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
    font-size: clamp(1.5rem, 5vw, .5rem);
}

nav h2:hover{
    cursor: pointer;
}
nav h2:active{
    background-color: rgb(255, 145, 55);
    color: red;
    
}

nav .logo{
    margin: 0 0 0 2.5%; /* top right bottom left*/
    height: 75%;
    width: auto;
}

.fview{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; /* center horizontal child*/
    align-items: center;
    z-index: 1;
    
}
.fview .word{
    color: rgb(71, 79, 86);
    font-family: Impact, Charcoal, sans-serif;
    font-size: clamp(3.5rem, 10vw, 10rem); /* min, prefered, max */
}
.fview p{
    padding: 0 15% 0 15%;
    font-size: clamp(16px,4vw,1.5rem);
    text-align: start;
}


/* sign in and sign up parent */
.form-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px) contrast(.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    user-select: none;
    display: none;
}

/* sign in container & sign up */
.signin, .signup{
    border-radius: 1rem;
    height: 725px;
    width: 425px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.close{
    padding: 15px;
    height: 15px;
    display: flex;
    border-radius: 100%;
    float: right;
    margin: 20px 20px 0 0; /*top right bottom left (close icon position in signin form) */
    transform: scale(1) rotate(0deg);
    transition: .05s;
}

.close:hover{
    transform: scale(1.4) rotate(180deg);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
    transition: .1s;
}
.close:active{
    transform: scale(.99) rotate(180deg);
    background-color: #ffa4a4;
    transition: .05s;
}

form{
    position: relative;
    margin: auto;
    height: 650px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #666666;
}
form h2{
    text-align: center;
    width: 100%;
    font-size: clamp(35px,10vw,50px);
    font-weight: bolder;
}

form .input_login{
    outline: none;
    border: none;
    height: 50px;
    width: clamp(80%,76.47vw,325px);
    margin: 20px;
    padding-left: 12px;
    padding-right: 12px;
    color: #666666;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 1px rgba(0, 0, 0, .9);
}
form .lbl1 {
    position: relative;
    width: 100%;
    padding-left: 15%; 
    top: 14px;
    font-weight: 600;
}
form .lbl2 {
    position: relative;
    width: 100%;
    padding-left: 15%; /* umay sa adjustment */
    top: 14px;
    font-weight: 600;
}

form .checkBox{
    position: relative;
    width: 100%;
    padding-left: 15%;
    cursor: pointer;
    z-index: 10;
}
form .lbl-checkBox{
    position: relative;
    width: 100%;
    padding-left: 27%;
    top: -17.7px;
    font-size: smaller;
}

form .forgotPass{
    position: relative;
    right: -27%;
    top: -32px;
    font-size: smaller;
}

form button{
    width: 75%;
    height: 40px;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(157, 157, 255),rgb(255, 95, 255),rgb(151, 255, 151));
    border: none;
    font-size: medium;
    font-weight: bolder;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    animation: colored 0.8s infinite;
    cursor: pointer;
}
form button:active{
    transform: scale(.98);
    transition: .1s;
}
@keyframes colored {
    0%{
        background: linear-gradient(to right, rgb(157, 157, 255),rgb(255, 95, 255),rgb(151, 255, 151));
    }50%{
        background: linear-gradient(to right, rgb(151, 255, 151),rgb(157, 157, 255),rgb(255, 95, 255));
    }100%{
        background: linear-gradient(to right, rgb(255, 95, 255),rgb(157, 157, 255),rgb(151, 255, 151));
    }
}

form p{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: medium;
}

form img{
    height: 35px;
    padding: 0 5px;
}

form img:hover{
    transform: scale(1.1);
    transition: .5s;
}

form .toSignup, .toSignin{
    margin-left: 5px;
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.signin{
    z-index: 4;
}

.signup {
    position: fixed;
    z-index: 5;
    display: none;
}

@media (max-width: 480px){
    nav h1{
        display: none;
    }
    .logo{
        height: 70%;
        width: auto;
    }

    .signup, .signin{
        height: 100vh;
        width: 100vw;
        border-radius: 0%;
    }
}

@media (min-width: 2560px) {
    .signin, .signup{
        height: 1125px;
        width: 725px;
    }

    form{
        height: 100%;
    }
    form h2{
        margin-top: -15px;
        font-size: 100px;
        margin-bottom: 15px;
    }
    form .lbl1, .lbl2{
        font-size: 30px;
    }
    form .input_login{
        padding: 25px;
        font-size: 25px;
    }
    form .checkBoxs{
        padding: 100px;
        font-size: 50px;
        transform: scale(2);
        
    }
    form .lbl-checkBox{
        font-size: 25px;
        top: -23px;
    }

    form .forgotPass{
        font-size: 25px;
        top: -53px;
    }
    form button{
        height: 90px;
        font-size: 35px;
    }
    form p{
        font-size: 30px;
    }
    .bottom-p{
        margin-top: 10%;
    }

    form img{
        height: 75px;
        padding: 0 15px;
    }
    .close{
        height: 30px;
    }
}

