*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(178, 178, 178);
    position: relative;
}
div{
    position: fixed;
    margin-top: 13%;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(178, 178, 178);
}
p{
    font-size: 400px;
}
.a{
    z-index: 2;
}
.b{
    height: 100vh;
    animation: up 12s;
}

span{
    position: absolute;
    animation: moveDots 3s;
}

span:nth-child(1){
    color: rgba(255, 0, 0, 0.484);
}
span:nth-child(2){
    color: rgba(0, 128, 0, 0.44);
    margin-left: 75px;
    animation-delay: 1s;
}
span:nth-child(3){
    color: rgba(0, 0, 255, 0.469);
    margin-left: 150px;
    animation-delay: 2s;
}
@keyframes moveDots {
    0% {
      transform: translateX(1000px);
      display: none;
    }50%{
        transform: translateX(0);
        display: block;
    }
    100% {
    }
}

@keyframes up {
    0%{
    }
    100%{
        z-index: 5;
    }
}