*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/325/238/small/pink-watercolor-splash-background-with-line-art-rose-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    height: 100dvh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.491);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

aside{
    position: relative;
    background-color: rgba(0, 0, 0, 0.726);
    height: auto;
    width: 15%;
    height: 80%;
    transition: right 1s ease-in-out;
}

.user-img-name{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(144, 203, 255);
    height: auto;
    width: 100%;
    padding: 70px 0;
}
.img-holder{
    background-color: rgba(26, 26, 26, 0.643);
    height: 85px;
    width: 85px;
    border-radius: 50%;
}
h2{

}
.user-edit{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 50%;
    width: 35px;
    height: 35px;
}
.user-edit svg:active{
    transform: scale(.8);
}
.ano-bato{
    background-color: rgba(0, 0, 0, 0.464);
    width: 45%;
    height: 80%;
}