*{
  cursor: pointer;
  user-select: none;
}

body{
    margin: 0;
    padding: 0;
}
#bg{
    position: absolute;
    width: 100vw;
    height: 100dvh;
    background-color: rgb(67, 67, 67);
}
.container{
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  position: relative;
  
}


nav{
    border-right: 2px solid whitesmoke;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column
}
.user-img-name{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: aliceblue;
}
.user-name{
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0 0 0;
  color: aliceblue;
}

.navButton{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 65%;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  column-gap: 10px;
  font-size: 20px;
  font-weight: bolder;
}
svg{
  color: aliceblue;
  height: 40px;
  width: 40px;
}
.button:hover{
  background-color: whitesmoke;
  color: rgb(67, 67, 67);
  transition: .5s ease;
}
.button:hover svg{
  stroke: rgb(67, 67, 67);
}




main{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.folder-created{
    height: 150px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
#folder-list{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    width: auto;
    
}
/* Customize the horizontal scrollbar */
.folder-created::-webkit-scrollbar {
    height: 15px; /* Height of the horizontal scrollbar */
  }
  
  /* Track (background of the scrollbar) */
  .folder-created::-webkit-scrollbar-track {
    
  }
  
  /* Handle (the draggable part of the scrollbar) */
  .folder-created::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
  }
  
  /* Handle on hover */
  .folder-created::-webkit-scrollbar-thumb:hover {
    background: #555; 

  }


  .pop-up{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.622);
    height: 100dvh;
    width: 100vw;
    z-index: 5;
  }
  .inputFolderName{
    height: 500px;
    width: 800px;
    background-color: aliceblue;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }
  .containQuotes{
    /* background-color: #555; */
    width: 85%;
    height: 70%;
    overflow: hidden;
    border: 1px solid gray;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .quotedBy{
    width: 100%;
    outline: none;
    border: 1px solid gray;
    border-bottom: none;
    font-size: 25px;
    font-weight: bolder;
    color: #434445;
    padding: 15px 0 0 15px;
  }
  .inputQuotes{
    height: 100%;
    width: 100%;
    color: #4d4f51;
    font-size: 20px;
    font-weight: 800;
    border: 1px solid gray;
    border-top: none;
    outline: none;
    overflow: hidden;
  }
  .input-buttons{
    display: flex;
    column-gap: 40px;
    justify-content: center;
  }
  #cancel, #create{
    margin-top: 15px;
    padding: 10px;
    font-weight: bolder;
    font-size: large;
  }
  #cancel{
    color: #007bff;
    background-color: transparent;
    border: none;
  }
 #create{
    color: #565656c6;
    background-color: transparent;
    border: none;
  }




/* Created from JS element */
#folders{
    height: 100px;
    width: fit-content;
    border: 1px solid gray;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
#folderIcon{
  height: 100%;
  width: 100%;
}
#imgBox{
  height: 100px;
  width: 100px;
}
#folderLabel{
  font-size: 35px;
  text-align: center;
  height: fit-content;
  width: fit-content;
}






@media(max-width: 425px){
    .container{
        flex-direction: column;
        align-items: baseline;
        transform: translateY(0%);
    }
    nav{
        height: 80px;
        width: 100%;
        border-radius: 0;
    }
    main{
        margin: 0;
    }
}
